$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1920px;


//header 
@mixin header($class,$img,$height,$opacity) {
   .#{$class}-header{
      position: relative;
      height: $height;
    }
    .#{$class}-banner{
      height: 100%;
      width: 100%;
      z-index: 999;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      background: #{$opacity} #{$img} no-repeat;
      background-position:  center center;
      background-size: cover;
      background-blend-mode: overlay;
      .headline{
        margin-top: 8.94rem;
      }
    }
    @if $class == 'blog' {
      .#{$class}-banner{
        height: 100%;
        width: 100%;
        z-index: 999;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        background: #{$opacity} #{$img} no-repeat;
        background-position:  center right;
        background-size: cover;
        background-blend-mode: overlay;
      }
    }
    .ham{
      color: #fff;
      font-size: 2rem;
    }
    .black{
      color: #000;
    }
    nav{
      position: relative;
      transition: all 0.3s linear;
      height: 7.44rem;
      padding-bottom: 0.5rem;
      z-index: 999999;
      .container{
        .nav-header{
          display: flex;
          justify-content: space-between;
          .logo{
            width: 7rem;
            margin: 0;
            padding: 0;
            align-self: start;
            // background: lightblue;
            img{
              object-fit: cover;
              object-position: center top;
            }
          }
          .menu{
            width: 2rem;
            margin-top: 3rem;
          }
        }
        @include responsive($md){
          .nav-header{
            .logo{
              flex: 1;
              width: 16rem;
              top: 0;
            }
            .ham{
              font-size: 4rem;
            }
            
          }
        }
        
      }
    }
    .links-container{
      // background: #fff;
      background: lightblue;
      height: 0;
      overflow: hidden;
      transition: all 0.3s linear;
      .nav-links{
        li{
        padding: 0.75rem 1rem;
        
        }
      }
    }
    .show-links{
      height: auto !important;
    }
    .fixed-nav{
      background-color: #fff;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      z-index: 999999;
      
    }
    @include responsive($xl){
        .nav{
          .container{
            display: flex;
            align-items: center;
            .nav-header{
              flex: 1;
              padding: 0;
              .menu{
                display: none;
              }

            }
            .links-container{
              flex: 1;
              background: transparent;
              height: auto;
              .nav-links{
                display: flex;
                justify-content: space-between;
                li{
                  a{
                    color: #fff;
                    transition: all .3s linear;
                    &:hover{
                      color: $primary-color;
                    }
                    &:active{
                      color: $primary-color;
                    }
                  }
                  .black{
                    color: #000;
                  }
                }
                
              }
              
            }
          }
      }
  }
}

@mixin responsive($screen-size){
   @if $screen-size == $sm {
      @media screen and (min-width: $screen-size){
         @content;
      }
   }@else if $screen-size == $md {
      @media screen and (min-width: $screen-size){
         @content;
      }
   }@else if $screen-size == $lg {
      @media screen and (min-width: $screen-size){
         @content;
      }
   }@else if $screen-size == $xl {
      @media screen and (min-width: $screen-size){
         @content;
      }
   }@else if $screen-size == $xxl {
      @media screen and (min-width: $screen-size){
         @content;
      }
   }
   @else {
      @error "#{$screen-size} is Invalid screen size";
   }
}

